@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;800&display=swap');

html {
    font: normal 20px 'Ubuntu';
}

body {
    background-color: #0af;
    color: #037;
}

h1 {
    text-align: center;
    font-weight: 800;
}

li {
    color: #fff;
    margin-bottom: 0.5em;
}

fieldset {
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    margin: 50px auto;
    border: solid
}

#submit_btn, #clear_all {
    border-radius: 50px;
}

#submit_btn {
    background-color: #0f0;
}

#clear_all {
    background-color: #f40;
    cursor: pointer;
}

#list {
    margin: auto;
    max-width: fit-content;
}

#image {
    display: flex;
    justify-content: center;
    align-items: center;
}