@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;600;800&display=swap');

:root {
    --main_bg_color: #fff;
    --main_fg_color: #60c;
}

html { font: normal 20px 'Ubuntu'; }

body {
    background-color: var(--main_bg_color);
    color: var(--main_fg_color);
}

h1 {
    text-align: center;
    font-weight: 800;
}

li {
    margin-bottom: 0.5em;
    transform: translateX(-10px);
}

input[type='submit'] {
    font-weight: 600;
    padding: .5em 1em;
    border-radius: 8px;
}

input[type='submit']:disabled { opacity: .5;}

#buttons, #image {
    margin: 1vh auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#toggle_add_form {
    background-color: var(--main_fg_color);
}

#toggle_add_form, #clear, #toggle_edit_form {
    border-radius: 50%;
    padding: .5em;
    cursor: pointer;
    opacity: .7;
}

#toggle_add_form:hover, #clear:hover, #toggle_edit_form:hover { opacity: 1 }

#add_task_popup {
    max-width: 300px;
    background-color: var(--main_fg_color);
    color: var(--main_bg_color);
    margin: auto;
    padding-bottom: 30px;
    border: 5px solid var(--main_fg_color);
    border-radius: 10px;
    text-align: center;
    display: none;
}

#add_task_button {
    color: var(--main_fg_color);
    background-color: var(--main_bg_color);
}

#list {
    max-width: fit-content;
    margin: 80px auto 50px;
    padding: 20px;
    border: 5px solid #037;
    border-radius: 20px;
}

#image {
    opacity: .05;
}